<a href="/" style="float:right;">Home</a>
<h1>Data</h1>


<form method="post" style="text-align: center;">
    <label for="data" style="display: inline-block; width: 100px;">Data:</label>
    <input type="text" id="data" name="data"/> <br/>
    <input type="submit" value="Submit" asp-page-handler="Submit"/>
</form>




