<a href="/login">Login</a>
<a href="/register">Register</a>
<a href="/data">Data</a>


<a href="/logout" style="float:right;">Logout</a>

@if (ViewData.ContainsKey("username") && ViewData["username"] != null)
{
    <h2>@ViewData["Message"]</h2>
    <p>Username: @ViewData["username"]</p>
    <a href="/">Back to home</a>
}